/* Toggle Switch - https://codepen.io/ZoFish/pen/CLxmq */

.switch-label {
  padding-right: 5px;
  vertical-align: top;
  line-height: 1.4em;
}

.Switch {
  position: relative;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  color: #ccc;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
  height: 24px;
  width: 90px;
  padding: 0px 6px 5px 6px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #ececec;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.Switch span {
  display: inline-block;
  width: 33px;
}
.Switch span.On {
  color: #33BEE5;
  text-align: right;
}
.Switch .Toggle {
  position: absolute;
  top: 1px;
  width: 39px;
  height: 20px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  //background: linear-gradient( to bottom, #ececec, #fff 50%, #eee 75%, #333 75%);
  background: #fff;
  background: -moz-linear-gradient(top, #ececec 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #ececec 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #ececec 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #ececec 0%, #ffffff 100%);
  background: linear-gradient(top, #ececec 0%, #ffffff 100%);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
  z-index: 999;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
}
.Switch.On .Toggle {
  left: 2%;
}
.Switch.Off .Toggle {
  left: 54%;
}
